.main-header{
    position: relative;
    width: 100%; 
    height: 600px; 
    overflow: hidden; 
    background-image: url('../../assets/images/encabezado.webp'); 
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(48, 48, 48, 0.5)), url('../../assets/images/encabezado.webp');
    background-position: top;
    background-size:cover;
    background-repeat: no-repeat;
    .container-nav{
        width: 100%; 
        background-color:rgba(0, 0, 0, 0.8); 
        position: fixed; 
        top: 0; left: 0;
        z-index: 2;
        nav{
            max-width: 1024px; 
            margin: auto;
            display: flex; 
            align-items: center; 
            justify-content: space-around; 
            padding: 8px 0;
            .title-nav{
                font-size: 2rem;   
                font-weight: 900;
                a{
                    text-shadow: 2px 2px 2px black;
                }
            }
            .content-links{
                display: flex; 
                gap: 4rem;
                span:nth-child(1){
                    display: none;
                }
                span{
                    font-size: 1.4rem; 
                    font-weight: 900;
                    a{
                        text-shadow: 3px 3px 3px black;  
                        
                    }
                    
                }
                span:hover{
                    transform: scale(1.025);
                }
            }
        }
    }
    .image-header{
        width: 100%; 
        height: auto; 
        position: absolute; 
        top: 0; 
        left: 0; 
        z-index: -1;
    }
}

@media (max-width: 900px){

    .main-header{
        height: 500px; 
        .container-nav{
            nav{
                align-items: start;
                box-sizing: border-box;
                justify-content: space-between; 
                padding: 0 2rem;
                .content-links{
                    display: flex;
                    flex-direction: column; 
                    gap: 1rem;
                    //height: 100vh;
                    margin-top: 4px;
                    span{
                        font-size: 1.4rem; 
                        font-weight: 900;
                        a{
                            text-shadow: 3px 3px 3px black;  
                            
                        }
                    }
                    span:nth-child(1){
                        display: flex;
                        align-self: flex-end;
                    }
                    span:nth-child(2), span:nth-child(3), span:nth-child(4){
                        display: none;
                    }
                }
                .content-links.actived{
                    height: 100vh;
                    span:nth-child(2){
                        margin-top: 1rem;
                    }
                    span:nth-child(2), span:nth-child(3), span:nth-child(4){
                        display: flex;
                    }
                }
            }
        }
    }

}

@media (max-width: 767px){

    .main-header{
        height: 400px; 
        .container-nav{
            nav{
                .content-links{
                    display: flex; 
                    gap: 1rem;
                    span{
                        font-size: 1.4rem; 
                        font-weight: 900;
                        a{
                            text-shadow: 3px 3px 3px black;  
                            
                        }
                    }
                }
            }
        }
    }

}

@media (max-width: 667px){

    .main-header{
        height: 250px; 
        .container-nav{
            nav{
                .title-nav{
                    font-size: 1.6rem;   
                    font-weight: 900;
                    a{
                        text-shadow: 2px 2px 2px black;
                    }
                }
                .content-links{
                    display: flex; 
                    gap: 1rem;
                    span{
                        font-size: 1.2rem; 
                        font-weight: 900;
                        a{
                            text-shadow: 3px 3px 3px black;  
                            
                        }
                    }
                }
            }
        }
    }

}