<header class="main-header">
    <div class="container-nav">
        <nav>
            <span class="title-nav">
                <a href="">FilmFusion</a>
            </span>
            <div class="content-links">
                <span>
                    <a [routerLink]="['/']">Now Playing</a>
                </span>
                <span>
                    <a [routerLink]="['/toprated']" >Top Rated</a>
                </span>
                <span>
                    <a href="" >Contact</a>
                </span>
            </div>
        </nav>
    </div>
    <!-- <img class="image-header" src="../../assets/images/encabezado.png" alt=""> -->
</header>
