<header class="main-header">
    <div style="width: 100%; background-color:rgba(0, 0, 0, 0.137); position: fixed; top: 0; left: 0;">
        <nav style="max-width: 1024px; margin: auto;
        display: flex; align-items: center; justify-content: space-around; padding: 8px 0;">
            <span style="font-size: 2rem; font-weight: 900;">
                <a href="" style="text-shadow: 2px 2px 2px black;">FilmFusion</a>
            </span>
            <div style="display: flex; gap: 4rem;">
                <span style="font-size: 1.4rem; font-weight: 900;">
                    <a href="" style="text-shadow: 3px 3px 3px black;  -webkit-text-stroke: 1px black;">Home</a>
                </span>
                <span style="font-size: 1.4rem; font-weight: 900;">
                    <a href="" style="text-shadow: 3px 3px 3px black;  -webkit-text-stroke: 1px black;">Films</a>
                </span>
                <span style="font-size: 1.4rem; font-weight: 900;">
                    <a href="" style="text-shadow: 3px 3px 3px black;  -webkit-text-stroke: 1px black;">Contact</a>
                </span>
            </div>
        </nav>
    </div>
    <img src="../../assets/images/encabezado.png" alt="" style="width: 100%; height: auto; position: absolute; top: 0; left: 0; z-index: -1;">
</header>
