<div class="container-items">
    <h2>NOW PLAYING</h2>
    <div style="margin-top: 1rem;">
        <button [ngClass]="{'button-filter-active': include_adult, 'button-filter': !include_adult}" (click)="filterAdult()">Filter Include Adult</button>
        <button [ngClass]="{'button-filter-active': include_video, 'button-filter': !include_video}" (click)="filterVideo()">Filter Include Video</button>
    </div>
    <div class="content-wrap">
    @for (item of films; track $index) {
        <div class="content-item">
            <div class="content-image">
                <img [src]="'https://image.tmdb.org/t/p/w200'+films[$index].backdrop_path" alt="" >
            </div>
            <span>{{films[$index].title}}</span>
        </div>
    }
    </div>
</div>