.container-items{
    margin: 0 auto; 
    max-width: 1024px; 
    padding: 3rem 2rem;
    h2{
        border-bottom: 3px solid rgb(185, 6, 6); padding-bottom: 1rem;
    }
    .content-wrap{
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-around;
        gap:1rem; 
        margin-top: 2rem;
        .content-item{
            display: flex; 
            flex-direction: column; 
            background-color: rgb(14, 14, 14); 
            width: 260px; 
            margin-top: 1rem;
            .content-image{
                max-height: 260px; 
                overflow-y: hidden; 
                display: flex; 
                flex-direction: column;
                img{
                    height: 100%;
                }
            }
            span{
                padding: 1rem;
            }
        }
    }
}

@media (max-width: 668px){
    .content-item{
        display: flex; 
        flex-direction: column; 
        background-color: rgb(14, 14, 14); 
        width: 100%  !important; 
        margin-top: 1rem;
        .content-image{
            max-height: 100%  !important; 
            overflow-y: hidden; 
            display: flex; 
            flex-direction: column;
            img{
                height: 100%;
            }
        }
        span{
            padding: 1rem;
        }
    }
}