.container-items{
    margin: 0 auto; 
    max-width: 1024px; 
    padding: 3rem 2rem;
    h2{
        border-bottom: 3px solid rgb(185, 6, 6); padding-bottom: 1rem;
    }
    .content-wrap{
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-around;
        gap:1rem; 
        margin-top: 2rem;
        .content-item{
            display: flex; 
            flex-direction: column; 
            background-color: rgb(14, 14, 14); 
            width: 260px; 
            margin-top: 1rem;
            //nuevo para animacion
            view-timeline-name: --image;
            view-timeline-axis: block;
            animation-timeline: --image;
            animation-name: show;
            animation-range: entry 25% cover 50%;
            animation-fill-mode: both;
            .content-image{
                max-width: 260px; 
                overflow-y: hidden; 
                display: flex; 
                flex-direction: column;
                
                img{
                    height: 100%;
                }
            }
            span{
                padding: 1rem;
                font-size: 1.4rem;
            }
        }
    }
}

.button-filter{
    background-color: white;
    color: black;
    font-weight: 600;
    padding: 4px 1rem;
}
.button-filter-active{
    background-color: greenyellow;
    color: black;
    font-weight: 600;
    padding: 4px 1rem;
}

// animacion scroll
@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

.show-details{
    width: 100vw; 
    height: 100vh; 
    background-color: rgb(33, 33, 33, 0.6); 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
}
.hide-details{
    display: none;
}

@media (max-width: 668px){
    .content-item{
        display: flex; 
        flex-direction: column; 
        background-color: rgb(14, 14, 14); 
        width: 100%  !important; 
        margin-top: 1rem;
        .content-image{
            max-width: 100%  !important; 
            overflow-y: hidden; 
            display: flex; 
            flex-direction: column;
            img{
                height: 100%;
            }
        }
        span{
            padding: 1rem;
        }
    }
}