<div class="container-items" id="focusFilm">
    <h2>NOW PLAYING</h2>
    <div style="margin-top: 1rem;">
        <button [ngClass]="{'button-filter-active': include_adult, 'button-filter': !include_adult}" (click)="filterAdult()">Filter Include Adult</button>
        <button [ngClass]="{'button-filter-active': include_video, 'button-filter': !include_video}" (click)="filterVideo()">Filter Include Video</button>
    </div>
    <div class="content-wrap">
    @for (item of films; track $index) {
        <div class="content-item" (click)="showDetailsFilm(item)">
            <div class="content-image">
                <img [src]="'https://image.tmdb.org/t/p/w400'+item.poster_path" alt="" >
            </div>
            <span>{{item.title | uppercase}}</span>
        </div>
    }
    </div>
</div>

<div class="content-buttons-pages">
    <a href="#focusFilm"><button (click)="backPage()">BACK FILM</button></a>
    <a href="#focusFilm"><button (click)="nextPage()">NEXT FILM</button></a>
</div>

<div [ngClass]="{'show-details': showDetails, 'hide-details': !showDetails }" >
    <div class="content-details" >
        <img [src]="filmShow" alt="" >
        <span class="title-details">{{titleShow | uppercase}}</span>
        <p class="overview-details" maxlength="20">{{overviewShow}}</p>
        <span class="close-details" (click)="showDetails = false">x</span>
    </div>
</div>