/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(224, 224, 224);
}

body{
    //background: url("./assets/images/fondoprueba.jpg"), rgb(24, 24, 24) ;
    //noise("./assets/images/encabezado.png")
    // background: radial-gradient(#000 100%,#0000 0);
    //background-image: url("./assets/images/fondoprueba.jpg");
    background:linear-gradient( rgba(0, 0, 0, 0.9) 100%, rgba(0, 0, 0, 0.9)100%),url("./assets/images/fondo2.avif");
}

a{
    text-decoration: none;
    color: rgb(224, 224, 224);
}